h2 {
    text-align: center;
    color: rgb(45, 19, 241);
    font-size: 40px;
    margin-bottom: 20px;
}

body {
    font-family: Arial, sans-serif;
    background-color: #d9e9f9;
    text-align: center;
    padding: 20px;
}

form {
    display: inline-block;
    text-align: left;
    background-color: rgb(208, 239, 246);
    padding: 20px 30px;
    border-radius: 8px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}


form div {
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;

}

form label {

    white-space: nowrap;
    font-weight: bold;
    margin-right: 8px;
}

input[type="text"],
input[type="email"],
input[type="date"] {
    width: 250px;
    max-width: 100%;
    padding: 8px 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    flex-shrink: 1;
}

@media (max-width: 500px) {

    input[type="text"],
    input[type="email"],
    input[type="date"] {
        width: 200px;
    }
}